<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA2" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Figma"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".controller.Login"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".controller.bulletin.BulletinBoard"
            android:windowSoftInputMode="adjustPan"/> <!--키보드 위로 UI가 올라오는 거 방지-->
        <activity android:name=".controller.bulletin.BulletinBoardDetails"/>
        <activity android:name=".controller.bulletin.BulletinBoardWriting"/>
        <activity android:name=".controller.bulletin.BulletinBoardEdit"/>
        <activity android:name=".controller.bulletin.BulletinBoardComment"/>
        <!--bulletin-->
        <activity android:name=".controller.chat.ChatPerson"/>
        <!--chat-->
        <activity android:name=".controller.chat.ChatMain"/>

        <!--comment-->
        <activity android:name=".controller.find.FindId"/>
        <activity android:name=".controller.find.FindPw"/>
        <!--find-->
        <activity android:name=".controller.myinformation.MyInfChPW"/>
        <activity android:name=".controller.myinformation.MyInfDetails"/>
        <activity android:name=".controller.myinformation.WarningMessage"/>
        <!--myinformation-->
        <activity android:name=".controller.mypage.Mypage"/>
        <!--Mypage-->
        <activity android:name=".controller.notice.NoticeBoardComment"/>
        <activity android:name=".controller.notice.NoticeDetails"/>
        <activity android:name=".controller.notice.NoticeEdit"/>
        <activity android:name=".controller.notice.NoticeList"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".controller.notice.NoticeWriting"/>
        <!--notice-->
        <activity android:name=".controller.sharing.SharingBoard"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".controller.sharing.SharingBoardComment"/>
        <activity android:name=".controller.sharing.SharingDetails"/>
        <activity android:name=".controller.sharing.SharingEdit"/>
        <activity android:name=".controller.sharing.SharingWriting"/>
        <!--sharing-->
        <activity android:name=".controller.signup.SignUp"/>
        <activity android:name=".controller.signup.SignUpEmail"/>
        <!--signup-->
        <activity android:name=".controller.timetable.MyTimeTable"/>
        <activity android:name=".controller.timetable.TimeTable" />
        <!--timetable-->
        <activity android:name=".controller.MainHome"/>




    </application>

</manifest>