<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA2" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Figma"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".controller.login"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".controller.bulletin.bulletin_board"/>
        <activity android:name=".controller.bulletin.bulletin_board_details"/>
        <activity android:name=".controller.bulletin.bulletin_board_writing"/>
        <activity android:name=".controller.bulletin.bulletin_board_edit"/>
        <activity android:name=".controller.bulletin.bulletin_board_comment"/>
        <!--bulletin-->
        <activity android:name=".controller.chat.chat_person"/>
        <activity android:name=".controller.chat.chatting_main"/>
        <!--chat-->
        <activity android:name=".controller.comment.test"/>
        <!--comment-->
        <activity android:name=".controller.find.find_id"/>
        <activity android:name=".controller.find.find_pw"/>
        <!--find-->
        <activity android:name=".controller.myinformation.my_inf_details"/>
        <activity android:name=".controller.myinformation.warning_message"/>
        <!--myinformation-->
        <activity android:name=".controller.mypage.mypage"/>
        <!--mypage-->
        <activity android:name=".controller.notice.notice_board_comment"/>
        <activity android:name=".controller.notice.notice_details"/>
        <activity android:name=".controller.notice.notice_edit"/>
        <activity android:name=".controller.notice.notice_list"/>
        <activity android:name=".controller.notice.notice_writing"/>
        <!--notice-->
        <activity android:name=".controller.sharing.sharing_board"/>
        <activity android:name=".controller.sharing.sharing_board_comment"/>
        <activity android:name=".controller.sharing.sharing_details"/>
        <activity android:name=".controller.sharing.sharing_edit"/>
        <activity android:name=".controller.sharing.sharing_writing"/>
        <!--sharing-->
        <activity android:name=".controller.signup.sign_up"/>
        <activity android:name=".controller.signup.sign_up_email"/>
        <!--signup-->
        <activity android:name=".controller.timetable.My_time_table"/>
        <activity android:name=".controller.timetable.Timetable" />
        <!--timetable-->
        <activity android:name=".controller.main_home"/>
        <activity android:name=".controller.MainActivity"/>




    </application>

</manifest>